<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form id="main_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
    <p id="price">0</p>
    <p id="dis">{{ dis }}</p>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let price = document.querySelector('#price');
            let discount = document.querySelector('#dis');
            const myform = document.querySelector('#main_form');
            myform.addEventListener('submit', (event) => {
                event.preventDefault();
                discount.innerText = `${discount.innerHTML}`;
            });
        })
    </script>
</body>
</html>